// This file is the input config save file.
// There is a description of the file with a simple guide on how to edit it here: https://content.thehelldiversgame.com/help/inputs.md


Player = {
	VoicePushToTalk = [
		{
			trigger = "Hold"
			device_type = "Keyboard"
			input = "p"
			threshold = 0.20000000298023224
			input_type = "Button"
			fixed_layout_id = 25
		}
	]
}
settings = {
	mouse_acceleration = 0
}
Avatar = {
	Use = [
		{
			trigger = "Press"
			device_type = "PadDS"
			input = "Cross"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "Press"
			device_type = "PadXBOX"
			input = "XboxA"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "Press"
			device_type = "Mouse"
			input = "MouseButton5"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
	]
	Dodge = [
		{
			trigger = "DoubleTap"
			device_type = "PadDS"
			input = "Circle"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "DoubleTap"
			device_type = "PadXBOX"
			input = "XboxB"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
		{
			trigger = "Press"
			device_type = "Mouse"
			input = "MouseButton4"
			threshold = 0.20000000298023224
			input_type = "Button"
		}
	]
}
