
crossplay_enabled = true
hud_map_navigation_mode = 0
weapon_switch_hd1 = false
text_to_speech_mode = 0
hud_tooltips = 0
missions_until_next_survey = 2
version = 45
hud_secondary_objective = 0
vehicle_camera_centering = true
hud_curve = 1
hud_stamina = 1
hud_vehicle_info = 1
close_captioning_mode = 3
motion_blur_amount_multiplier = 0
hud_compass_small_notches = 0
preference_group = 3
hud_offset = 0
hud_background_opacity = 3
sharpening_amount = 0.65000003576278687
reticle_outline = false
language = "us"
hud_stratagem_menu = 0
autoclimb_enabled = true
camera_shake_strength = 0.33000001311302185
subtitle_size = 1
hud_map_position = 0
remember_aim_mode = 1
subtitle_mode = 1
eula_accepted = true
hud_compass_ordinal_directions = 1
hud_compass = 0
hud_interaction = 0
hud_feed = 1
vo_language = "us"
reticle_color = 0
hud_primary_objective = 0
hud_scale = 0.94999998807907104
platform_language = "us"
vehicle_invert_throttle = true
remember_weapon_functions = true
hud_crosshair = 0
hud_compass_angle_range = 2
dof_enabled = true
bloom_enabled = true
show_keyboard_bindings = false
menu_cursor_sensitivity = 0.5
vehicle_auto_reverse = true
switch_weapon_on_pickup = true
hud_compass_width = 1
hud_mission_info = 0
hud_health_info = 0
hud_weapon_info = 0
hud_hints = 0
hud_stamina_width = 1
hud_nameplates = 0
hud_samples = 1
hud_markers = 0
privacy_mode = 1
dynamic_aim_mode = false
tray_notification_enabled = true
speech_to_text_mode = 0
voice_mode = 1
